@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Poppins:ital,wght@0,400;0,600;0,700;1,500;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?display=swap');

body{
  font-family: 'Bebas Neue', sans-serif;
}

.S {
  position: relative;
  margin-top: 80px; /* Ajusta este valor según la altura de tu menú */
  margin-bottom: 80px;
  width: 100%;
  height: 400px;
  display: grid;
  align-items: center;
  justify-content: center;
  z-index: 1;
  top: 100px;
  font-family: 'Bebas Neue', sans-serif;
}

.menu{
    color: #fff;
    transition: background-color 0.3s; /* Agregar una transición para el cambio de color de fondo */
    z-index: 100; /* Asegurarse de que esté por encima del contenido */
    display: flex;
    flex-direction: column;
    width: 100%;
 
  }
  .encabezado_cont {
    position: absolute;
    height: 70px;
    width: 100%;
    transition: var(--transition);
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
    /* padding: 1px 0; */
    z-index: 1;
    display: flex;
    margin: -10px;
    justify-content: flex-end; /* Para alinear los elementos a la derecha */
    background-color: #8b8b8ba0;
   
  }

    
  .menu_cont{
    width: 100%;
    background-color: transparent;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    top: 69px;
    height: 40px;
  padding-block: 20px;

  margin-left: -10px;

  z-index: 9999;
  background-color: #000000a0;;
  
  }
  
  .menu__links0 {
    display: flex;
    align-items: center;
    margin-right: 2%;
    gap: 20px; /* Espacio de separación horizontal */
  }
  
  .menu__item0 {
    list-style: none;
    position: relative;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg);
  }
  
  .menu__item0:hover {
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    --transform: rotate(0);
  }
  
  .menu__link0 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    padding: 0 5px;
    display: flex;
    align-items: center;
  
    /* font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
    display: flex;
    height: 100%;
    align-items: center; */
  }
  
  .menu__link0:hover{
    color: #01102e;
  }
  
  .menu_link0 .menu__item0:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scale(0);
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: rgb(255, 255, 255);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
  }
  
  .menu_link0 .menu__item0:hover :after{
    transform: scale(1);
    transform-origin: bottom left;
  }
  
  

  
  .menu_cont .logo{
    display: flex;
  }
  
  .menu_cont .logo img{
    height: 120px;
    margin-left: 50%;
  }
  
  .menu__links{
    height: 100%;
    transition: transform .5s;
    display: flex;
  }
  
  .menu__item{
    list-style: none;
    position: relative;
    height: 100%;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg);
  }
  
  .menu__item:hover{
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    --transform: rotate(0);
  }
  
  .menu__link{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
    display: flex;
    height: 100%;
    align-items: flex-end;
    /* gap: 50px;
    list-style: none; */
  }
  
  .menu__link:hover{
    color: #001e2c;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    /* padding: 0 20px 0 20px;
    background-color: rgba(255, 255, 255, 0.2); */
  
  }
  
  .menu_link .menu__item:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scale(0);
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: rgb(255, 255, 255);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
  }
  
  .menu_link .menu__item:hover :after{
    transform: scale(1);
    transform-origin: bottom left;
  }
  
  
  .menu__arrow{
    transform: var(--transform);
    transition: transform .3s;
    display: block;
    margin-left: 3px;
  }
  
  /* .cont_btn{
    position: relative;
    display: grid;
    justify-content: center;
    width: 100%;
    gap: 40px;
  } */
  
  .btn {
    font-family: 'Bebas Neue', sans-serif;
  background-color: #001e2c; /* Cambia el color de fondo a tu elección */
  color: #fff; /* Cambia el color del texto a tu elección */
  border: none;
  border-radius: 5px; /* Aplica un borde redondeado */
  padding: 10px 20px; /* Ajusta el espaciado interno para la forma y el tamaño */
  font-size: 20px; /* Tamaño del texto */
   cursor: pointer;
  margin-left: 10px; /* Alinea el botón a la izquierda y agrega margen entre el menú y el botón */
  
  }
  .btn:hover {
    background-color: #ffffff; /* Cambia el color de fondo a tu elección */
  color: #001e2c;
  }
  
  .menu__nesting{
    /* top: 5px; */
    list-style: none;
    transition:clip-path .3s;
    clip-path: var(--clip);
    position: absolute;
    right: 5px;
    bottom: -20px;
    width: max-content;
    transform: translateY(100%);
  
  }
  
  .menu__nesting:hover{
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .menu__link--inside{
    padding: 20px 20px 20px 0px;
  }
  
  .menu__link--inside:hover{
    color: #001e2c;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .menu__hamburguer{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    display: none;
  }
  
  .menu__img{
    display: block;
    width: 36px;
  }
  
  @media (max-width:800px){
    .menu__hamburguer{
        display: flex;
    }
  
    .menu__item{
        --clip:0;
        overflow:hidden ;
    }
  
    .menu__item--active{
        --transform: rotate(0);
        --background: #5e7094;
    }
  
    .menu__item--show{
        background-color: var(--background);
    }
  
  
    .menu__links{
        position: fixed;
        max-width: 400px;
        width: 100%;
        top: 70px;
        bottom: 0;
        right: 0;
        background-color: #000;
        overflow-y: auto;
        display: grid;
        grid-auto-rows: max-content;
        transform: translateX(100%);
    }
  
    .menu__links--show{
        transform: unset;
        width: 100%;
    }
  
    .menu__link{
        padding: 25px 0;
        padding-left: 30px;
        height: auto;
    }
  
    .menu__arrow{
        margin-left: auto;
        margin-right: 20px;
    }
  
    .menu__nesting{
        display: grid;
        position: unset;
        width: 100%;
        transform: translateY(0);
        height: 0;
        transition: height .3s;
    }
  
    .menu__link--inside{
        width: 90%;
        margin-left: auto;
        border-left: 1px solid #798499;
    }
  }
  
  
  
  
  
  
  
  
  
  
  

.fondo{
    background: linear-gradient(
        rgba(255, 255, 255, 0.085),
        rgba(255, 255, 255, 0.085)),
        url("../imagenes/imgContactanos/peru-sierra-mountain-asxc3w6k5vtk9wt2.jpg");
        font-family: 'Bebas Neue', sans-serif;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}





.navbar{
    position: fixed; /* Hace que el encabezado sea fijo */
    top: 0; /* Lo fija en la parte superior */
    width: 100%;
    height: 80px;
    padding: 0 40px;
    box-sizing: border-box;
    border: 2px solid #ffffff;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 120px;
}

.navbar ul {
    height: 100%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    list-style: none;
    padding: 10;
  }

.navbar ul li{
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    float: left;
    margin-right: 10px;
}

.navbar ul li a{
    font-size: 15px;
    padding: 10px;
    color: #FFFFFF;
    display: block;
    font-weight: bold;
    text-decoration: none;
    transition: all .2s ease;
}

.navbar ul li a:hover{
    color: #001e2c;
}

.menu-desplegable{
    min-width: 12px;
    box-sizing: border-box;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 15px;
    top: 40px;
    border-radius: 8px;
    background-color: rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 25px 50px -12px;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease-in-out;
    padding: 70px 10px;

}

.navbar ul li:hover .menu-desplegable{
    opacity: 1;
    visibility: visible;
    top: 60px;
}

.menu-desplegable li {
    margin: 0;
  }
  
  .menu-desplegable li a {
    font-size: 14px;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    
  }

.menu-desplegable li a:hover{
    background-color: black;
}

.menu-desplegable li a{
    display: block;
    color: white;
    padding: 15px 15px 15px 20px;
}



.navbar-nav{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    padding: 1rem 0;
    z-index: 999;
    /* display: -webkit-box;
    display: -ms-flexbox; */
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.nav-item{
    margin: 0;
    margin-left: 2rem;
}

/*Aqui empieza los estilos de CONTACTANOS*/

.contenedor{
    width: 85%;
    background: #000000a5;
    padding: 20px 60px 30px 40px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.contenedor .content{
    display: flex;
    align-items: center;
    justify-content: space-between
}

.contenedor .content .izq{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
}

.content .izq::before{
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;
}

.content .izq .detalles {
    margin:14px;
    text-align: center;;
}

.content .izq .detalles i{
   font-size: 30px;
   color: #ffffff;;
   margin-bottom: 10px;
}

.content .izq .detalles .topic{
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
}

.content .izq .detalles .textoUno, .content .izq .detalles .textoDos{
    font-size: 14px;
    color: #bebebe;
}


.contenedor .content .der{
    width: 75%;
    margin-left: 75px;
}

.content .der .topic-text{
    font-size: 23px;
    font-weight: 600;
    color: #ffffff;
}

.content .der p{
    color: #ffffff;
}

.der .input-box{
    height: 50px;
    width: 100%;
    margin: 12px 0;
}

.der .input-box input,
.der .input-box textarea{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #F0F1F8;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;

}

.der .mensaje{
    min-height: 110px;
}

.der .input-box textarea{
    padding-top: 6px;
}

.btn{
  background-color: #001e2c;
  padding: 15px 25px;
  border: 0;
  border-radius: 5px;
  color: #fff;
}



@media (max-width: 950px){
    .contenedor{
        width: 90%;
        padding: 30px 40px 40px 35px;
    }

    .contenedor .content .der{
        width: 75%;
        margin-left: 55px;
    }
}

@media (max-width: 820px){
    .contenedor{
        margin: 40px 0;
        height: 100%;
    }

    .contenedor .content{
        flex-direction: column-reverse;
    }

    .contenedor .content .izq{
        width: 100%;
        flex-direction: row;
        margin-top: 40px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .contenedor .content .izq::before{
        display: none;
    }

    .contenedor .content .der{
        width: 100%;
        margin-left: 0;
    }
}



